- name: Install requirements
  local_action: command ansible-galaxy install -r '{{ role_path }}/requirements.yml'
  become: no
- name: Enable unattended upgrades
  include_role:
    name: hifis.unattended_upgrades
- name: Set time zone
  when: timezone is defined
  community.general.timezone:
    name: '{{ timezone }}'
- name: Set up hostname
  copy:
    content: localhost
    dest: /etc/hostname
  register: hostname
- name: Restart network
  service:
    name: networking
    state: restarted
  when: hostname.changed
- name: Install avahi-daemon
  apt:
    name: avahi-daemon
- name: Restart avahi-daemon on DHCP update
  copy:
    content: |
      case $reason in
        BOUND|RENEW|REBIND|REBOOT)
          systemctl restart avahi-daemon
          ;;
        *)
          ;;
      esac
    dest: /etc/dhcpcd.exit-hook
- name: Set up watchdog
  when: watchdog is defined and watchdog == True
  include_role:
    name: reitermarkus.raspberry_pi.watchdog
- name: Set up peripherals
  include_role:
    name: reitermarkus.raspberry_pi.peripherals
